<h1>Post details</h1>

<% if flash[:success] %>
  <div class="alert alert-success"><%= flash[:success] %></div>
<% end %>

<section class="mt-5">
    <h2><%= @post.title %><span style="font-size: 18px;"> by <%= @post.author.name %></span></h2>
    
    <div class="d-flex justify-content-end">
      <span>Comments: <%= @post.comments_counter || 0 %>, </span>
      <span class="mx-1"> Likes: <%= @post.likes_counter || 0 %></span>
      <%= render 'posts/like_form' %>
      <%= render 'posts/delete_post' %>
    </div>
  <p><%= @post.text %></p>
  <%= link_to 'Add Comment', new_user_post_comment_url(@post.author, @post) %>
</section>

<% if @post.comments.length == 0 %>
      <p>No comments!</p>
    <% else %>
    <% @post.comments.each do |comment| %>
      <div class="d-flex">
      <p><%=comment.author.name %>: <%=comment.text %></p>
      <% if can? :destroy, comment %>
        <%= form_with url: user_post_comment_path(@post.author.id, @post.id, comment.id), :method => :delete do |f| %>
          <%= f.submit 'Delete', class: 'glyphicon glyphicon-trash mx-2' %>
        <% end %>
      <% end %>
      </div>
    <%end%>
<% end %>