<!DOCTYPE html>
<html>
  <head>
    <title>BlogAppRubyOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap-grid.min.css" 
    integrity="sha512-2cWcZ9cbPMZFm2inlFOhwsBVbNMmNxKBtVXqL8OY9tXCZahhnIfXMxPCzpKqiHF2I2mOiNHNXEDUDglwd+4uYw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />      
    
    <%= javascript_importmap_tags %>    
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
